.btn1{
   //background-color: red;
    margin-block-start:35vh;
    //margin-left: 30%;
}
.btn2{
    margin-block-start: 35vh;
    right: 0;
    position: absolute;
}
.hello{
    background-color:light;
}
