
/*.navb{
    background-color:red;
    font-style: bold;
}*/
.btn-tl{
    color:black;
}
.fabbtn{
    background-color: #0ed478;
}
/*
.titl{
color:black;
}
.hello{
    background-color: white;
}
.toolbar-background { background-color: red !important; }*/
.list_item{
    height:25vh
}